/*width: 421px;
  height: 614px;
*/

.level-container {
    display: flex;
    flex-direction: row-reverse;
    margin-left: 10.45%;
    /*10.45% 44px*/
    margin-right: 10.45%;
    /*10.45% 44px*/
    margin-top: 2%;
    /*2% 9px*/
}

.cardImage {
    margin-left: 12.11%;
    /*12.11% 51px*/
    margin-right: 51px;
    /*12.11% 51px*/
    width: 76%;
    /*76% 320px*/
    height: 52.28%;
    /*52.28% 321px*/
    margin-top: 12px;
    /*12px*/
}

.levelIcon {
    width: 7.5%;
    /*7.25% 25px*/
    height: 7.5%;
    /*7.25% 25px*/
    margin-left: 0.9%;
    /*0.9% 3px*/
}

.cardType {
    margin-left: 8%;
    /*7.13% 30px*/
    margin-top: 6%;
    /*5.5% 23px*/
    font-weight: 1000;
    font-family: "Times New Roman", Times, serif;
    height: 15px;
    font-size: 13px;
    /*82% 13px*/
}

.synchron {
    margin-left: 8%;
    /*7.13% 30px*/
    margin-top: 0%;
    /*5.5% 23px*/
    font-weight: 1000;
    font-family: "Times New Roman", Times, serif;
    height: 10px;
    font-size: 10px;
    /*82% 13px*/
}