/*width: 421px;
  height: 614px;
*/

.level-container {
    display: flex;
    flex-direction: row-reverse;
    margin-left: 10.45%;
    /*10.45% 44px*/
    margin-right: 10.45%;
    /*10.45% 44px*/
    margin-top: 2%;
    /*2% 9px*/
}

.levelIcon {
    width: 7.5%;
    /*7.25% 25px*/
    height: 7.5%;
    /*7.25% 25px*/
    margin-left: 0.9%;
    /*0.9% 3px*/
}